This notebook is an exercise adapted from Kaggle.
-------------------------------------------------

# Introduction 

You are part of a crisis response team, and you want to identify how hospitals have been responding to crash collisions in New York City.

<center>
<img src="https://storage.googleapis.com/kaggle-media/learn/images/wamd0n7.png" width="450"><br/>
</center>

Before you get started, run the code cell below to set everything up.

You'll use the `embed_map()` function to visualize your maps.

In [2]:
def embed_map(m, file_name):
    from IPython.display import IFrame
    m.save(file_name)
    return IFrame(file_name, width='100%', height='500px')

# Exercises

### 1) Visualize the collision data.

Run the code cell below to load a GeoDataFrame `collisions` tracking major motor vehicle collisions in 2013-2018.

In [7]:
import geopandas as gpd
path = "/etc/skel/input-data/"

In [8]:
collisions = gpd.read_file(path + "NYPD_Motor_Vehicle_Collisions/NYPD_Motor_Vehicle_Collisions/NYPD_Motor_Vehicle_Collisions.shp")
collisions.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET,CROSS STRE,OFF STREET,...,CONTRIBU_2,CONTRIBU_3,CONTRIBU_4,UNIQUE KEY,VEHICLE TY,VEHICLE _1,VEHICLE _2,VEHICLE _3,VEHICLE _4,geometry
0,07/30/2019,0:00,BRONX,10464,40.841100,-73.784960,"(40.8411, -73.78496)",NaN,NaN,121 PILOT STREET,...,Unspecified,NaN,NaN,4180045,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,POINT (1043750.211 245785.815)
1,07/30/2019,0:10,QUEENS,11423,40.710827,-73.770660,"(40.710827, -73.77066)",JAMAICA AVENUE,188 STREET,NaN,...,NaN,NaN,NaN,4180007,Sedan,Sedan,NaN,NaN,NaN,POINT (1047831.185 198333.171)
2,07/30/2019,0:25,NaN,NaN,40.880318,-73.841286,"(40.880318, -73.841286)",BOSTON ROAD,NaN,NaN,...,NaN,NaN,NaN,4179575,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,POINT (1028139.293 260041.178)
3,07/30/2019,0:35,MANHATTAN,10036,40.756744,-73.984590,"(40.756744, -73.98459)",NaN,NaN,155 WEST 44 STREET,...,NaN,NaN,NaN,4179544,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,POINT (988519.261 214979.320)
4,07/30/2019,10:00,BROOKLYN,11223,40.600090,-73.965910,"(40.60009, -73.96591)",AVENUE T,OCEAN PARKWAY,NaN,...,NaN,NaN,NaN,4180660,Station Wagon/Sport Utility Vehicle,Bike,NaN,NaN,NaN,POINT (993716.669 157907.212)

In [12]:
collisions.describe()

,LATITUDE,LONGITUDE,NUMBER OF,NUMBER O_1,NUMBER O_2,NUMBER O_3,NUMBER O_4,NUMBER O_5,NUMBER O_6,NUMBER O_7,UNIQUE KEY
count,65476.000000,65476.000000,65476.000000,65471.000000,65476.000000,65476.000000,65476.000000,65476.000000,65476.000000,65476.000000,6.547600e+04
mean,40.686063,-73.859425,1.351472,0.005972,0.269335,0.003345,0.111659,0.000489,0.969836,0.002138,2.741845e+06
std,1.193086,2.328138,0.868195,0.084788,0.470809,0.061578,0.317509,0.022783,1.100907,0.050002,1.522745e+06
min,0.000000,-201.237060,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.200000e+01
25%,40.665257,-73.967974,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.012713e+06
50%,40.713747,-73.922848,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,3.474289e+06
75%,40.767917,-73.864940,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,3.828903e+06
max,42.641540,0.000000,43.000000,8.000000,7.000000,6.000000,3.000000,2.000000,43.000000,3.000000,4.181297e+06

In [11]:
#usi
collisions = collisions.sample(frac=0.2)

Use the "LATITUDE" and "LONGITUDE" columns to create an interactive map to visualize the collision data.  What type of map do you think is most effective?

In [ ]:
m_1 = folium.Map(location=[40.7, -74], zoom_start=11) 

# Your code here: Visualize the collision data
____



# Show the map
embed_map(m_1, "q_1.html")

### 2) Understand hospital coverage.

Run the next code cell to load the hospital data.

In [ ]:
hospitals = gpd.read_file(path + "nyu_2451_34494/nyu_2451_34494/nyu_2451_34494.shp")
hospitals.head()

Use the "latitude" and "longitude" columns to visualize the hospital locations.

In [ ]:
m_2 = folium.Map(location=[40.7, -74], zoom_start=11) 

# Your code here: Visualize the hospital locations
____

### 3) When was the closest hospital more than 10 kilometers away?

Create a DataFrame `outside_range` containing all rows from `collisions` with crashes that occurred more than 10 kilometers from the closest hospital.

Note that both `hospitals` and `collisions` have EPSG 2263 as the coordinate reference system, and EPSG 2263 has units of meters.

In [ ]:
# Your code here
outside_range = ____

The next code cell calculates the percentage of collisions that occurred more than 10 kilometers away from the closest hospital.

In [ ]:
percentage = round(100*len(outside_range)/len(collisions), 2)
print("Percentage of collisions more than 10 km away from the closest hospital: {}%".format(percentage))

### 4) Make a recommender.

When collisions occur in distant locations, it becomes even more vital that injured persons are transported to the nearest available hospital.

With this in mind, you decide to create a recommender that:
- takes the location of the crash (in EPSG 2263) as input,
- finds the closest hospital (where distance calculations are done in EPSG 2263), and 
- returns the name of the closest hospital.

In [ ]:
def best_hospital(collision_location):
    # Your code here
    name = ____
    return name

# Test your function: this should suggest CALVARY HOSPITAL INC
print(best_hospital(outside_range.geometry.iloc[0]))

### 5) Which hospital is under the highest demand?

Considering only collisions in the `outside_range` DataFrame, which hospital is most recommended?  

Your answer should be a Python string that exactly matches the name of the hospital returned by the function you created in **4)**.

In [ ]:
# Your code here
highest_demand = ____

### 6) Where should the city construct new hospitals?

Run the next code cell (without changes) to visualize hospital locations, in addition to collisions that occurred more than 10 kilometers away from the closest hospital.

In [ ]:
m_6 = folium.Map(location=[40.7, -74], zoom_start=11) 

coverage = gpd.GeoDataFrame(geometry=hospitals.geometry).buffer(10000)
folium.GeoJson(coverage.geometry.to_crs(epsg=4326)).add_to(m_6)
HeatMap(data=outside_range[['LATITUDE', 'LONGITUDE']], radius=9).add_to(m_6)
folium.LatLngPopup().add_to(m_6)

embed_map(m_6, 'm_6.html')

Click anywhere on the map to see a pop-up with the corresponding location in latitude and longitude.

The city of New York reaches out to you for help with deciding locations for two brand new hospitals.  They specifically want your help with identifying locations to bring the calculated percentage from step **3)** to less than ten percent.  Using the map (and without worrying about zoning laws or what potential buildings would have to be removed in order to build the hospitals), can you identify two locations that would help the city accomplish this goal?  

Put the proposed latitude and longitude for hospital 1 in `lat_1` and `long_1`, respectively.  (Likewise for hospital 2.)

Then, run the rest of the cell as-is to see the effect of the new hospitals.  Your answer will be marked correct, if the two new hospitals bring the percentage to less than ten percent.

In [ ]:
# Your answer here: proposed location of hospital 1
lat_1 = ____
long_1 = ____

# Your answer here: proposed location of hospital 2
lat_2 = ____
long_2 = ____


# Do not modify the code below this line
new_df = pd.DataFrame(
        {'Latitude': [lat_1, lat_2],
         'Longitude': [long_1, long_2]})
    new_gdf = gpd.GeoDataFrame(new_df, geometry=gpd.points_from_xy(new_df.Longitude, new_df.Latitude))
    new_gdf.crs = {'init' :'epsg:4326'}
    new_gdf = new_gdf.to_crs(epsg=2263)
    # get new percentage
    new_coverage = gpd.GeoDataFrame(geometry=new_gdf.geometry).buffer(10000)
    new_my_union = new_coverage.geometry.unary_union
    new_outside_range = outside_range.loc[~outside_range["geometry"].apply(lambda x: new_my_union.contains(x))]
    new_percentage = round(100*len(new_outside_range)/len(collisions), 2)
    print("(NEW) Percentage of collisions more than 10 km away from the closest hospital: {}%".format(new_percentage))
    # Did you help the city to meet its goal?
    q_6.check()
    # make the map
    m = folium.Map(location=[40.7, -74], zoom_start=11) 
    folium.GeoJson(coverage.geometry.to_crs(epsg=4326)).add_to(m)
    folium.GeoJson(new_coverage.geometry.to_crs(epsg=4326)).add_to(m)
    for idx, row in new_gdf.iterrows():
        Marker([row['Latitude'], row['Longitude']]).add_to(m)
    HeatMap(data=new_outside_range[['LATITUDE', 'LONGITUDE']], radius=9).add_to(m)
    folium.LatLngPopup().add_to(m)
    display(embed_map(m, 'q_6.html'))