# Displaying multiple dataframes simultaneously

It is possible to display dataframes at once, and this may be useful if the dataframes are not too large. This can be done using the `display()` function. 

Let's create two simple dataframes below:

In [9]:
import pandas as pd

df1 = pd.DataFrame({'Adj': ['Gooey', 'Chewy', 'Crunchy'],
                    'value': [1, 2, 3]})

df2 = pd.DataFrame({'Noun': ['pudding', 'gum', 'chips'],
                    'value': [5, 6, 7]})

In [10]:
display(df1, df2)

       Adj  value
0    Gooey      1
1    Chewy      2
2  Crunchy      3

      Noun  value
0  pudding      5
1      gum      6
2    chips      7

To display dataframes side by side, you can use the below code to define a function that does that.

This code imports a library called `IPython.display`, which utilizes a module called `display_html`.

A link to the reference to this code has been added as a comment.

In [11]:
from IPython.display import display_html
def display_side_by_side(*args):
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline"'),raw=True)
    
    #https://stackoverflow.com/questions/38783027/jupyter-notebook-display-two-pandas-tables-side-by-side

In [8]:
display_side_by_side(df1, df2)

,Adj,value
0,Gooey,1
1,Chewy,2
2,Crunchy,3
,Noun,value
0,pudding,5
1,gum,6
2,chips,7