## Data Science for Social Impact 
# Homework Tuesday: Working With Dataframes

Please complete this notebook by filling in the cells provided. The solved homework should be uploaded to Gradescope on Canvas.

#### Deadline:

This assignment is due on **Tuesday at 11:30pm**.

Directly sharing answers is not okay, but discussing problems with eachother is encouraged! All data can be found *Tuesday* folder.

In [ ]:
import numpy as np
import pandas as pd

## A Cognitive Study

A neuroscience research firm is testing out a new game that exercises memory, reasoning, and other cognitive functions. They conducted a pilot study with 1000 subjects that measures the time of completion of the game, difficulty level, and number of incorrect questions for a game consisting of 20 exercises. For each person that participated in the study demographic information was recorded, including age and gender. 

Load in the data for this study from `cognitive_data.csv`. Assign this to a dataframe named `cog_data`.

### Question 1

Each study participant played the game at a specific difficulty level where Level 1 is easy, Level 2 is medium, and Level 3 is hard. Change the values in the `Difficulty` column so that the levels are represented categorically instead of numerically.

### Question 2

Calculate the proprotion of incorrect answers in `cog_data`. Update the dataframe to reflect this in a new column called `Incorrect Proportion`.

### Question 3

Construct a dataframe that displays the average completion time for each difficulty level across all recorded genders. Report which gender completed the game the fastest for each difficulty level.

Which gender had the lowest average completion time for each difficulty level? Write your answer in the cell below:

Easy:
Medium:
Hard:

### Question 4

Construct a dataframe that displays the median number of incorrect questions for all recorded genders across each level of difficulty.

## Sales Competition

A company has created a competition where all sales made by members of the sales team were tracked for the year of 2022. All members of the sales department have been divided into two teams: Team A and Team B. The team with the highest monetary value of total sales win a pizza party, as well as each member of the team get a \$500 bonus.  Using the data from `sales.csv` and `teams.csv`, we want to determine the total sales from each team and determine which team wins the competition.

### Question 5

Write code that creates a dataframe that shows the total sales made during 2022 for each salesperson. Assign to `person_totals`.

### Question 6

Construct a dataframe called `team_totals` that shows the total monetary value of sales made between teams A and B.

### Question 7

Which team won the competition? Write your answer in the markdown cell below:

The company is also interested in how individual salespersons performed for upcoming employee evaluations. They want to rank each sales person based on the total monetary value made from sales, as well as their average monetary value per sale. Next, we want to determine who the top salesperson(s) are based on these metrics.

### Question 8

Write code that quantifies the number of sales made by each salesperson in 2022. Create a dataframe that includes the name of each person, the total number of sales they made, and the monetary value of the sum of all their sales in 2022.

### Question 9

Calculate the average value per sale for each sales person. Use this value to rank all sales persons compared to each other. Append this information to the dataframe you created in the previous question.

### Question 10

Using the above dataframe, add additional information by ranking each salesperson based on the monetary value of the sum of all sales made in 2022.

### Question 11

Which salesperson had the highest average per sale? Which salesperson had the highest total value of sales? Write your answers below.